@model TrashCollectorProj.Models.Customer

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h3>Change Pick-Up Day, Schedule Additional Pick-Up Day or set up Temporary Suspension</h3>

    <h4>You can edit your services and hit "Save" once complete</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            @Html.HiddenFor(Model => Model.CustomerID);
            @Html.HiddenFor(Model => Model.IdentityUserID)
            @Html.HiddenFor(Model => Model.FirstName)
            @Html.HiddenFor(Model => Model.LastName)
            @Html.HiddenFor(Model => Model.StreetAddress)
            @Html.HiddenFor(Model => Model.City)
            @Html.HiddenFor(Model => Model.State)
            @Html.HiddenFor(Model => Model.ZipCode)
            @Html.HiddenFor(Model => Model.BalanceOwed)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PickUpDay" class="control-label"></label>
                <select asp-for="PickUpDay" class="form-control" asp-items="Html.GetEnumSelectList<DayOfWeek>()"><option value="">Select Pickup Day</option></select>
                <span asp-validation-for="PickUpDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExtraPickUp" class="control-label"></label>
                <input asp-for="ExtraPickUp" class="form-control" />
                <span asp-validation-for="ExtraPickUp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupendPickUpStart" class="control-label"></label>
                <input asp-for="SupendPickUpStart" class="form-control" />
                <span asp-validation-for="SupendPickUpStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuspendPickUpEnd" class="control-label"></label>
                <input asp-for="SuspendPickUpEnd" class="form-control" />
                <span asp-validation-for="SuspendPickUpEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

