@model IEnumerable<TrashCollectorProj.Models.Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreetAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickUpDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtraPickUp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BalanceOwed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupendPickUpStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuspendPickUpEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdentityUserID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) 
{  
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickUpDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExtraPickUp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BalanceOwed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupendPickUpStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuspendPickUpEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdentityUserID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CustomerID}) |
                @Html.ActionLink("Details", "Details", new { id = item.CustomerID}) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CustomerID })
            </td>
        </tr>
}
    </tbody>
</table>
